.CollectionPage {
  display: flex;
  flex-direction: column;
  font-family: "Comfortaa", cursive;
  margin-top: 50px;
  padding-left: 17px;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    &.collection-item {
      margin-bottom: 30px;
    }
  }

  .CustomButton {
    background-color: #e4e4e4;
    color: black;
    font-family: "Comfortaa", cursive;

    &:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}
