.CollectionPreview {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  font-family: "Comfortaa", cursive;
  overflow-x: hidden;

  @media screen and (max-width: 800px) {
    align-items: center;
  }

  .title {
    font-size: 28px;
    margin-bottom: 25px;

    @media screen and (max-width: 800px) {
      font-size: 20px;
    }
  }

  .preview {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
  }

  .CustomButton {
    background-color: #e4e4e4;
    color: black;
    font-family: "Comfortaa", cursive;

    &:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}
