.CartDropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .cart-items {
    height: 240px;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;

    &.CustomButton {
      color: white;
      font-size: 0.8rem;
      outline: none;
      position: relative;
      cursor: pointer;
      left: 15px;
      font-family: "Comfortaa", cursive;
      margin-top: 15px;
    }
  }

  .empty-message {
    display: block;
    font-size: 15px;
    margin: 50px auto;
    text-align: center;
    font-family: "Comfortaa", cursive;
  }
}
